@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap");
/* ! replace this eventually */
/* variables */
:root {
  --primary-font: "Archivo", verdana;
  --secondary-font: "Martian mono", sans-serif;
  --white: 255, 255, 255;
  --black: 34, 34, 38;
  --grey: 102, 102, 102;
  --blue: 54, 75, 247;
  --important: 247, 225, 159;
  --letter-spacing: -0.04em; /* -4% van de font size */

  /* width */
  --minimum-size: 660px;
  --burger-size: 1080px;

  /* spacing */
  --size-xs: 0.5rem;
  --size-sm: 1rem;
  --size-md: 2rem;
  --size-lg: 3rem;
  --size-xl: 4rem;
  --size-xxl: 6rem;

  /* animation */
  --bounce: 0.3s cubic-bezier(0.67, -0.7, 0.39, 1.75);
  background: rgba(var(--white));
  font-family: var(--primary-font);
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.overlay {
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease 0.1s;
  &.open {
    background: rgba(0, 0, 0, 0.25);
  }
}

a {
  color: rgba(var(--blue));
  text-decoration: none;
  position: relative;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  svg > path {
    stroke: rgba(var(--blue));
  }
}
.arrow {
  max-width: 1rem;
  max-height: 1rem;
}
.link {
  display: flex;
  align-items: end;
  justify-content: end;
  font-weight: 700;
  gap: 0.5rem;
}

.btn {
  display: flex;
  height: 48px;
  color: rgba(var(--black));
  border: 1px solid rgba(var(--black));
  stroke: initial;
  span {
    border-right: 1px solid rgba(var(--black));
    padding: 14px 16px;
    height: 100%;
  }
  div {
    height: 100%;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
  }
}
a > div > img {
  transition: var(--bounce);
}
a:hover > div > img {
  transform: translateX(5px);
}

a:active {
  background-color: rgba(var(--important));
}

/* typography sm */
h1,
.xxxl {
  font-size: clamp(var(--size-lg), 6vw, var(--size-xxl));
  font-weight: 600; /* stays semibold */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(1em, 5vw, var(--size-xxl));
  text-transform: uppercase;
}

h2,
.xxl {
  font-size: clamp(2.5rem, 5vw, 64px);
  font-weight: 600; /* stays semibold */
  letter-spacing: var(--letter-spacing);
  line-height: 2.5rem;
}

h3,
.xl {
  font-size: clamp(var(--size-md), 4vw, 48px);
  font-weight: 400; /* regular on sm | semiBold on md+ */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(24px, 3.5vw, 1em);
  text-transform: uppercase;
}

h4,
.lg {
  font-size: clamp(24px, 3.5vw, var(--size-md));
  font-weight: 400; /* stays regular */
  letter-spacing: 0;
  line-height: clamp(var(--size-md), 3vw, 2.5rem);
}

h5,
h6,
.md {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 600; /* stays semibold */
  letter-spacing: 0;
  line-height: clamp(var(--size-md), 2vw, 2.5rem);
}

h6,
.light {
  font-weight: 400; /* stays regular */
}

p,
.sm {
  font-size: clamp(16px, 2.5vw, 18px);
  font-weight: 400; /* stays regular */
  letter-spacing: 0;
  line-height: clamp(24px, 2.5vw, var(--size-md));
}

.subtext,
.xs,
p:has(time) {
  font-size: 16px;
  font-weight: 400; /* stays regular */
  letter-spacing: var(--letter-spacing);
  line-height: 24px;
  font-family: var(--secondary-font);
}

p:has(time) {
  text-transform: uppercase;
}

time::after {
  content: "/";
  padding: 0 0.5rem;
}

.label {
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: -0.06em;
  border: 1px solid rgba(var(--black));
  text-transform: uppercase;
  padding: 0 4px;
}

.neutral {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
/* end typography */

/* content */
main > * {
  grid-column: 1 / -1;
  margin: 48px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

main {
  grid-auto-rows: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: baseline;
  padding: 0 16px;
  margin: 0 auto 16px 0;
}

/* companies block */
.companies-block {
  overflow: hidden;
  height: fit-content;
  margin-left: -16px;
  margin-right: -16px;
  border: 1px solid rgba(var(--black));
  border-width: 1px 0;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    /* md+ screen */
    img {
      min-width: clamp(120px, 15vw, 176px);
      min-height: clamp(120px, 15vw, 176px);
      object-fit: cover; /* Cover the entire area, cropping if necessary */
      display: block; /* Remove bottom whitespace */
    }
  }
}
div:nth-child(2) {
  /* temp */
  justify-content: center;
}

/* end of companies block */

/* content block */

.content-block > * {
  grid-column: 1 / -1;
  text-align: center;
}
.content-block {
  justify-items: center;
  gap: 16px 16px;
  span:nth-child(1) {
    width: fit-content;
  }
  div{
    flex-direction: column;
    @media (min-width: 769px) {
      flex-direction: row;
    }
  }
  > a {
    margin-top: 1rem;
  }
  &:has(h1) {
    margin-bottom: 8.125rem;
    > div {
      margin-top: 1.5rem;
    }
  }
}
.content-block :not(h1) span:not(a > span) {
  color: rgba(204, 0, 0, 1)
}
.content-block > div:not(:has(h1)) {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

/* not sure if this is allowed */
.content-block h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end of content block */

/* events block */
.events-block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(var(--black));
  border-width: 1px 0;
  margin-left: -48px;
  margin-right: -48px;
  > div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(var(--black));
    padding: 3.375rem;
    gap: 2rem;
    img {
      width: 100%;
      object-fit: cover;
    }
    article {
      margin-bottom: 3.5rem;
      /* alle child elementen met een neighbor in de div behalve de laatste */
      > * + *:not(:last-child) {
        margin: 1rem 0;
      }
    }
    a {
      margin-bottom: 4.75rem;
      width: fit-content;
    }
  }
  ul {
    padding: 3rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    h3 {
      text-transform: none;
    }
    li {
      height: fit-content;
      margin-bottom: 32px;
      > *:not(:last-child) {
        margin: 1rem 0;
      }
      div {
        display: flex;
        justify-content: space-between;
      }
    }
    li:last-child {
      margin: 0;
    }
    li + li {
      padding-top: 2rem;
      border-top: 1px solid rgba(var(--black));
    }
  }
}
/* end of events block */

/* vacancy block */
/* ? ombouwen naar grid ? */
.vacancy-block {
  margin-left: -48px;
  margin-right: -48px;
  border: 1px solid rgba(var(--black));
  border-width: 1px 0;
  padding: 0 3rem;
  flex-direction: column;
  li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 0 2rem 0;
    h3 {
      grid-column: 1 / 5;
    }
    .data {
      font-family: var(--secondary-font);
      grid-column: span 8;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      span,
      a {
        display: inline-block;
        width: 20%;
        text-transform: uppercase;
      }
      .group {
        gap: 0;
        display: flex;
        width: 100%;
        > * {
          width: 33%;
        }
      }
      a {
        align-items: center;
        display: flex;
        gap: 0.5rem;
      }
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: start;
      }
    }
  }
  li + li {
    border-top: 1px solid rgba(var(--black));
  }
}
/* end of vacancy block */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 -16px 0 0 rgba(var(--white));
}
header img {
  min-height: 40px;
  max-height: 60px;
}

/* container */
.container {
  max-width: 1440px;
  min-height: calc(100% - 18px);
  width: 100%;
  @media (min-width: 769px) {
    margin: 0 1rem;
  }
}

nav {
  position: relative;
  height: 80px;
  padding: 12px 14px;
  background: rgba(var(--white));
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--black));
  position: relative;
  /* overflow: hidden; */
  .nav-items {
    max-width: 360px;
    width: 100%;
    z-index: 30;
    border-top: 1px solid rgba(var(--black));
    padding: 0 24px;
    background: rgba(var(--white));
    top: 0;
    height: 100%;
    right: -376px;
    position: fixed;
    transition: 0.3s ease 0.1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ul {
      padding: 48px 0;
      &:first-of-type {
        border-bottom: 1px solid rgba(var(--black));
        > * {
          margin: 48px 0;
          &:first-of-type,
          &:last-of-type {
            margin: 0;
          }
        }
      }
      &:last-of-type > :first-child {
        margin-bottom: 24px;
      }
      li {
        a {
          color: rgba(var(--black));
          &.active{
            color: rgba(var(--blue));
            font-weight: 700;
          }
          span {
            padding: 0 0.25rem;
            font-size: 0.75rem;
            background-color: rgba(var(--blue));
            height: fit-content;
            line-height: 1rem;
            color: rgba(var(--white));
          }
        }
      }
    }
  }
  .nav-items.open {
    right: 0;
    top: 0;
  }
  > a {
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    z-index: 100;
    padding: 0.5rem;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(var(--black));

    .lines {
      background: rgba(var(--blue));
      display: block;
      background: rgba(var(--black));
      height: 3px;
      width: 100%;
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
}

section {
  display: grid;
  height: fit-content;
  grid-template-columns: subgrid;
}

/* md and lg screens */
@media screen and (min-width: 660px) {
  /* header | nav */

  header {
    /* zorgt ervoor dat de content / page layout niet shift */
    height: 178px; /* md+ */
    top: 16px;

    /* hide de borders van de main */
  }

  nav {
    padding: 0.75rem 1rem;
    height: fit-content;
    border: 1px solid rgba(var(--black));
    .nav-items {
      display: flex;
      top: 16px;
    }
    .nav-items.open {
      top: 16px;
    }
  }

  /* 
stomme 'hack'
maar dit zorgt er wel voor dat de scroll header op elke browser werkt :)
*/

  header::after {
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: 50%;
    top: 50%;
    left: 0;
    border-left: 1px solid rgba(var(--black));
    border-right: 1px solid rgba(var(--black));
    z-index: -1;
  }

  nav ul li span {
    font-weight: 300;
  }
  /* end of nav | header */

  .content-block {
    grid-column: 3 / 11;
  }
  .companies-block {
    margin-left: -48px;
    margin-right: -48px;
  }

  .events-block {
    > div {
      flex-direction: row;
      padding: 3rem;
      img {
        width: 50%;
      }
    }
  }

  main {
    padding: 0 48px;
    border: 1px solid rgba(var(--black));
    border-top: none;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 0 32px;
  }

  /* md+ nav | header */
  nav {
    height: 178px;
    padding: 48px;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease;
  }
  nav.scrolled {
    height: 114px;
    padding: 16px 48px;
    border-bottom: 1px solid rgba(var(--black));
  }
  /* end of md+ nav | header */
  .vacancy-block {
    li {
      .data {
        > .group {
          width: 60%;
          > * {
            width: 100%;
          }
        }
      }
    }
  }
  .container {
    margin: 0px 16px;
  }
}
/* end of md and lg screens */
/* hamburger menu removal */
@media screen and (min-width: 1180px) {
  .overlay.open {
    background-color: rgba(0, 0, 0, 0);
  }
  .burger {
    display: none;
  }

  nav {
    color: rgba(var(--black));
    width: 100%;
    .nav-items {
      position: initial;
      max-width: unset;
      background: initial;
      flex-direction: row;
      border: none;
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        padding-top: 1rem;
        gap: clamp(1rem, 3vw, 3rem);
        &:first-of-type {
          border: none;
          text-wrap: nowrap;
          width: 60%;
          justify-content: start;
          margin: 0 48px;
          gap: 2rem;
          width: 100%;
          > * {
            margin: initial;
          }
        }
        li {
          height: fit-content;
          a {
            color: inherit;
            display: flex;
            align-items: center;
            gap: 0.375rem;
          }
        }
      }
    }
    div.open::before {
      display: none;
    }
  }

  .events-block {
    flex-direction: row;
    > div {
      gap: 0;
      flex-direction: column;
      border-bottom: 0;
      border-right: 1px solid rgba(var(--black));
      img {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }

  /* vacancy block */
  /* ? ombouwen naar grid ? */
  .vacancy-block {
    margin-left: -48px;
    margin-right: -48px;
    border: 1px solid rgba(var(--black));
    border-width: 1px 0;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: subgrid;
    flex-direction: column;
    li {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      padding: 2.5rem 0 2rem 0;
      align-items: center;
      /* ??? */
      /* change this */
      h3 {
        grid-column: 1 / 5;
      }
      .data {
        font-family: var(--secondary-font);
        grid-column: span 8;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        .group {
          width: 60%;
        }
        span,
        a {
          width: 20%;
          text-transform: uppercase;
        }
        a {
          display: flex;
          gap: 0.5rem;
          justify-content: end;
        }
      }
    }
    li + li {
      border-top: 1px solid rgba(var(--black));
    }
  }
  /* end of vacancy block */
}
header img {
  max-height: 80px;
}

::selection {
  background-color: rgba(var(--important));
  color: rgba(var(--white));
}

ul {
  list-style-type: none;
}
