@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Roboto:wght@300;500&display=swap");

:root {
  --color-blue: #524dd0;
  --color-gray: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

/* HEADER */
.c-header {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue);
  color: white;
}

.c-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
}

.c-header__back {
  height: 2rem;
  position: absolute;
  left: 2rem;
}

/* NAVIGATION */
.c-nav {
  position: absolute;
  top: 4rem;
  max-width: 100vw;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px); // This be the blur
}

.c-nav__list {
  list-style-type: none;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 1rem 0;
}

.c-nav__list > li {
  padding: 0.6rem 1rem;
  font-size: 14px;
  background-color: var(--color-gray);
  margin: 0 0.5rem;
  border-radius: 2rem;
}

/* MAP */
.c-map {
  height: calc(100vh - 4rem);
}
