@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap");

:root {
  --secondary-font: "Martian mono", sans-serif;
  --primary-font: "Archivo", verdana;
  --white: 255, 255, 255;
  --black: 34, 34, 38;
  --grey: 102, 102, 102;
  --blue: 54, 75, 247;
  --letter-spacing: -0.04em; /* -4% van de font size */
  background: rgba(var(--white));
  font-family: var(--primary-font);
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 0px 16px;
  max-width: 1440px;
  min-height: calc(100% - 18px);
  width: 100%;
}

main {
  border: 1px solid rgba(var(--black));
  border-top: none;
  height: 200vh;
  margin: 0 auto 16px 0;
  display: grid;
}

@media screen and (min-width: 769px) {
  /* temp */
  section {
    grid-column: 1 / -1;
  }
  .opening > * { 
    grid-column: 3 / 11;
    text-align: center;
    gap: 16px 16px;
  }
  .opening span {
    color: red;
  }
}

/* general styling */

/* header | nav */


figure {
  width: fit-content;
}
