@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap");

:root {
  --secondary-font: "Martian mono", sans-serif;
  --primary-font: "Archivo", verdana;
  --white: 255, 255, 255;
  --black: 34, 34, 38;
  --grey: 102, 102, 102;
  --blue: 54, 75, 247;
  --letter-spacing: -0.04em; /* -4% van de font size */
  background: rgba(var(--white));
  font-family: var(--primary-font);
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 0px 16px;
  max-width: 1440px;
  min-height: calc(100% - 18px);
  width: 100%;
}

main {
  border: 1px solid rgba(var(--black));
  border-top: none;
  height: 200vh;
  margin: 0 auto 16px 0;
  display: grid;
}

/* typography sm */
h1 {
  font-size: clamp(48px, 5vw, 96px);
  font-weight: 600; /* stays semibold */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(1em, 5vw, 96px);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(40px, 4vw, 64px);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  line-height: 40px;
}

h3 {
  font-size: clamp(32px, 3.5vw, 48px);
  font-weight: 400; /* regular on mobile */
  letter-spacing: var(--letter-spacing);
  line-height: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 400; /* regular */
  letter-spacing: 0%;
  line-height: 32px;
}

h5 {
  font-size: clamp(18px, 2.5vw, 24px);
  font-weight: 600;
  letter-spacing: 0%;
  line-height: 32px;
}

h6 {
  font-size: clamp(18px, 2.5vw, 24px);
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 32px;
}

p {
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 24px;
}

.subtext {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  line-height: 24px;
  font-family: var(--secondary-font);
}

@media (min-width: 769px) {
  /* temp */
  section {
    grid-column: 1 / -1;
  }
  /* typography md-lg */
  /* h1 {
    line-height: 96px;
  } */

  h2 {
    line-height: 64px;
  }

  h3 {
    font-weight: 600; /* Change back to semibold on larger screens */
    line-height: 48px;
  }

  h4 {
    font-size: 32px;
    line-height: 40px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }
  main {
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 32px;
  }
}

/* general styling */

/* header | nav */
header {
  position: sticky;
  display: flex;
  top: 0;
  padding-top: 16px;
  background: rgba(var(--white));
}

nav {
  padding: 48px;
  border: 1px solid rgba(var(--black));
  border-bottom: 1px solid transparent;
  display: flex;
  width: 100%;
  transition: 0.2s ease;
}

nav.scrolled {
  padding: 16px 48px;
  border-bottom: 1px solid rgba(var(--black));
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  width: 50%;
  &:first-of-type {
    justify-content: space-between;
    padding: 16px 0 0 0;
    margin: 0 48px;
  }
}

li span{
  font-weight: 300;
}

figure {
  width: fit-content;
}
